# macOS
.DS_Store

# Ignore Swift Package Manager build artifacts directory.
.build/

# Ignore generated Xcode projects
*.xcodeproj
# Ignore SwiftPM state, such as the generated xcodeproj when opening the project directly
.swiftpm
.sourcekit-lsp/
bazel/swiftpm/deps_index.json
bazel/swiftpm/deps.bzl
Package.resolved


# Ignore user state in Xcode Projects
*.xcuserdatad
UserInterfaceState.xcuserstate
xcuserdata/
# Ignore VScode workspace settings and launch configurations
.vscode

# Ignore cmake build configuration and output
build/

# Ignore bazel symlinks
/bazel-*
/MODULE.bazel.lock

# Documentation
/docs
.docs/

Derived/

# Idea
.idea/

# Compiled Shaders

/Sources/AdaEngine/Rendering/Shaders/*.spv

Modules/LocalDeps/
