Modules/** linguist-vendored

*.frag text eol=lf
*.vert text eol=lf
*.glsl text eol=lf

# All files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.jpeg binary
*.ttf binary
*.gif binary