*.frag text eol=lf
*.vert text eol=lf
*.glsl text eol=lf

/Sources/AdaEngine/AdaEngine.docc/*.png -diff -merge
/Sources/AdaEngine/AdaEngine.docc/*.jpg -diff -merge
/Sources/AdaEngine/AdaEngine.docc/*.jpeg -diff -merge
/Sources/AdaEngine/AdaEngine.docc/*.ttf -diff -merge
/Sources/AdaEngine/AdaEngine.docc/*.gif -diff -merge
/Sources/AdaEngine/AdaEngine.docc/*.zip -diff -merge

# All files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.jpeg binary
*.ttf binary
*.gif binary

# Exclude C and C++ implementation details from GitHub language statistics.
*.c -linguist-detectable
*.cc -linguist-detectable
*.cpp -linguist-detectable
*.cxx -linguist-detectable
*.h -linguist-detectable
*.hh -linguist-detectable
*.hpp -linguist-detectable

# Vendored dependencies
Sources/box2d/** linguist-vendored
Sources/box3d/** linguist-vendored
Sources/harfbuzz/** linguist-vendored
Sources/libpng/** linguist-vendored
Sources/miniaudio/** linguist-vendored
Sources/msdf-atlas-gen/** linguist-vendored
Sources/SPIRV-Cross/** linguist-vendored
Sources/glslang/** linguist-vendored
