name: Deploy Docs

on:
  push:
    branches:
      - 'main'
    # Publish semver tags as releases.
    tags: [ 'v*.*.*' ]
  # It will make it execute on P/Rs to main
  pull_request:
    branches: [ main ]

permissions:
  contents: write

jobs:
  build-and-deploy-docs:
    runs-on: macos-26
    env:
      ADAENGINE_SKIP_WEBGPU_PLUGINS: "1"
    steps:
      - name: Setup Xcode version
        uses: maxim-lobanov/setup-xcode@v1.6.0
        with:
          xcode-version: '26.1.1'
      - uses: actions/checkout@v4
      - name: Build Documentation
        run: |
          swift package \
            --allow-writing-to-directory ./docs \
            generate-documentation \
            --output-path ./docs \
            --transform-for-static-hosting \
            --hosting-base-path adaengine-docs \
            --enable-experimental-combined-documentation \
            --target AdaEngine \
            --target AdaECS \
            --target AdaRender \
            --target AdaUI \
            --target AdaApp \
            --target AdaPlatform \
            --target AdaAssets \
            --target AdaAudio \
            --target AdaTransform \
            --target AdaText \
            --target AdaInput \
            --target AdaScene \
            --target AdaTilemap \
            --target AdaPhysics \
            --target AdaSprite \
            --target AdaUtils \
            --target Math

      - name: Deploy to Github pages
        if: startsWith(github.ref, 'refs/tags/') || github.ref == 'refs/heads/main'
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: docs
          token: ${{ secrets.DOCS_ACCESS_TOKEN }}
          repository-name: AdaEngine/adaengine-docs
          single-commit: true
          force: true
