name: SwiftPM Test

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]
  workflow_dispatch:

jobs:
  MacOS:
    name: macOS 26 with Xcode ${{ matrix.xcode_version }}
    strategy:
      matrix:
        xcode_version: ['26.1.1']
    runs-on: macos-26
    env:
      DEVELOPER_DIR: /Applications/Xcode_${{ matrix.xcode_version }}.app
    steps:
    - uses: actions/checkout@v4
    - run: swift -version
    - run: swift test --parallel

  # Linux:
  #   name: Linux with Swift ${{ matrix.tag }}
  #   strategy:
  #     matrix:
  #       tag: ['5.7', '5.8', '5.9', '5.10', '6.0', '6.1']
  #   runs-on: ubuntu-latest
  #   container:
  #     image: swift:${{ matrix.tag }}
  #   steps:
  #     - uses: actions/checkout@v4
  #     - run: YAMS_DEFAULT_ENCODING=UTF16 swift test --parallel
  #     - run: YAMS_DEFAULT_ENCODING=UTF8 swift test --parallel

  # Windows:
  #   name: Windows with Swift ${{ matrix.swift_version }}
  #   runs-on: windows-latest
  #   strategy:
  #     matrix:
  #       swift_version: ['5.8.1', '5.9.1', '5.10.1', '6.0', '6.1']
  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: SwiftyLab/setup-swift@bf0987b4ed5eca4d558dda243b257f0562b4b36e
  #       with:
  #         swift-version: ${{ matrix.swift_version }}
  #     - name: Build
  #       run: swift build -v
  #     - name: Test
  #       run: swift test -v
  # Android:
  #   name: Android with Swift ${{ matrix.tag }}
  #   strategy:
  #     matrix:
  #       tag: ['6.0.3']
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: skiptools/swift-android-action@v2
  #       with:
  #         swift-version: ${{ matrix.tag }}
  #         # needed for tests that use fixturesDirectory
  #         copy-files: Tests
  #         test-env: TEST_WORKSPACE=1

  # build-linux:

  #   runs-on: ubuntu-latest

  #   steps:
  #   - uses: actions/checkout@v4
  #   - name: Build
  #     run: swift build
  #   - name: Run tests
  #     run: swift test --parallel